{% extends 'NewstoreProduitBundle::layoutbundle.html.twig' %}

{%block content%}


<h1>Liste des produits</h1>
<hr/>
{% if Produits|length > 0%}
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>R&eacute;f&eacute;rence</td>
            <td>Lib&eacute;ll&eacute;</td>
            <td>Stock</td>
            <td>Stock disponible</td>
            <td>Prix d&acute;chat</td>
            <td>Detail</td>
            <td>Modifier</td>
            <td>Supprimer</td>
        </tr>
    </thead>
    <tbody>
        {% for item in Produits %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.reference}}</td>
            <td>{{item.designation}}</td>
            <td>{{item.stockReel}}</td>
            <td>{{item.stockDisponible}}</td>
            <td>{{item.prix}}</td>
            <td><a href="{{ path('newstore_produit_voir', {'id':item.id}) }}">Detail</a></td>
            <td><a href="{{ path('newstore_produit_modifier', {'id':item.id}) }}">Modifier</a></td>
            <td><a href="{{ path('newstore_produit_supprimer', {'id':item.id}) }}">Supprimer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%else %}
<p>Il n'y pas de produit.</p>
<a class="btn" href="{{path('newstore_produit_ajouter')}}">Ajoutez un produit</a>
{%endif%}
{%endblock%}